#table {
    
    margin: 20px auto;
    border-collapse: collapse;
    border: 10px solid #000000;
    table-layout: fixed; /* Use fixed layout */
}

#table tr {
    background-color: olive;
    border: 2px solid #000000;
}

#table td {
    border: 15px solid grey;
    width: 150px; /* Fixed width for cells */
    height: 150px; /* Fixed height for cells */
    padding: 0; /* Remove padding to avoid cell size changes */
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
    font-size: 60px; /* Adjust font size */
    border-radius: 50px;
}

body {
    background-color: antiquewhite;
    
}

#title {
    background-color: yellow;
}
